In [1]:
## explain with an example each when to use a for loop or while loop

In [2]:
"""loop- loop is define as for the execute value in repeatedly after once condition is right"""

'loop- loop is define as for the execute value in repeatedly after once condition is right'

In [3]:
l =[1,2,3,4]

In [4]:
for i in l:
    print (i)

1
2
3
4

In [5]:
''' while loop- while loop is define as to check the condition first whether condition is right or wrong'''

' while loop- while loop is define as to check the condition first whether condition is right or wrong'

In [7]:
a= int ( input('enter the no'))
sp=0
cp=1
while cp<=a:
    sp=sp+cp
    cp=cp+1
sp

enter the no 25

325

In [8]:
## write a programm to print the sum and product the first 10 natural number by using for and while loop

In [9]:
a= int ( input('enter the no'))
sp=0
cp=1
while cp<=a:
    sp=sp+cp
    cp=cp+1
sp

enter the no 25

325

In [1]:
a = int (input('enter the no'))
i=1
while i<=10:
    result=a*i
    print(a,'*',i,'=',result)
    i=i+1

enter the no 25

25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250

In [2]:
l=[1,2,3,4,5,6,7,8,9,10]

In [3]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:

result=0
for i in l:
    result=result+i
result

55

In [1]:
product = 1
for i in range (1,10):
    product = product*i
print(product)

362880

In [4]:
list(range(0,100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [16]:
no=[]
for i in range(0,100):
    cube=i**3
    if cube/4==0:
        no.append(i)
        
print(f" whose cube is divisible by 4 using for loop: {no}")

 whose cube is divisible by 4 using for loop: [0]

In [1]:
no=[]
i=1
while i<=100:
    cube = i**3
    if cube/4==0:
        no.append(i)
    i+=1
print(no)

[]

In [11]:
string= ['I want to become a data scientist']
vowels = 'aieou'
count = 0
for char in string:
    if char in vowels:
        count+=1
print('number of vowels:',count)

number of vowels: 0

In [15]:
unit= int(input('enter the amount consumed'))

if unit<=100:
    bill = unit*4.5
elif unit<=200:
    bill =100*4.5+ (unit-100)*6
elif unit<=300:
    bill= 200*4.5+(unit-200)*10
else:
    bill = 100*4.5+100*6+100*10+(unit-300)*20
print('total electricity',bill)

enter the amount consumed 310

total electricity 2250.0

In [14]:
unit= int(input('enter the amount consumed'))

if unit<=100:
    bill = unit*4.5
elif unit<=100:
    bill =100*6
elif unit<=100:
    bill= 100*10
else:
    bill = 100*4.5+100*6+100*10-300*20
print('total electricity',bill)

enter the amount consumed 310

total electricity -3950.0